* {
    box-sizing: border-box;
}

body {
 max-width: 900px;
 margin: 5px auto;
}

#canvas {
    height: 400px;
    width: 600px;
    border: 1px solid black;
    margin: 0 auto;
    position: relative;
    background-color: black;
    background-image: radial-gradient(at 50% 50%, blue 20%, transparent 30%);
}

#square {
    height: 5px;
    width: 5px;
    background-color: black;
}