* {
    box-sizing: border-box;
}

body {
 max-width: 900px;
 margin: 5px auto;
}

#canvas {
    height: 400px;
    width: 600px;
    border: 1px solid black;
    margin: 0 auto;
    position: relative;
    background-color: black;
    background-image: radial-gradient(at 50% 50%, blue, transparent);
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-content>div {
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}